<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-cloud" style="vertical-align:top"></span> Vario.Web</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#"><span class="glyphicon glyphicon-list"></span> Polecenia  <span class="badge" style="vertical-align:text-top">13</span></a></li>
      <li><a href="#"><span class="glyphicon glyphicon-search"></span> Szukaj</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-briefcase"></span> Teczka</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        @Html.Partial("_LoginPartial")
@*        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user" style="vertical-align:top"></span> Bartłomiej Adamski  <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Ustawienia</a></li>
          <li class="divider"></li>
          <li><a href="#">Wyloguj</a></li>
        </ul>
      </li>*@
    </ul>
  </div>
</div>
@*       <div class="container">            
        <div class="masthead">
            <h3 class="text-muted">@Html.ActionLink("Application Name", "Index", "Home")</h3>
            <ul class="nav nav-justified">
                <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "active" })</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>
    </div>*@

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <small>&copy; @DateTime.Now.Year - Docusoft</small>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
