@model IEnumerable<MyTecBits_MVC5_Bootstrap3.Models.WorkflowCommand>

@{
    ViewBag.Title = "Polecenia Workflow";
}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="text-info"><i class="glyphicon glyphicon-info-sign"></i>Usługa niedostępna</h3>
            </div>
            <div class="modal-body">
                <h4>Brak możliwości wykonania operacji.</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

<h2><i class="glyphicon glyphicon-comment" style="vertical-align: top"></i> Twoje polecenia obiegu (@Model.Count())</h2>

<hr />

<div class="panel-group" id="accordion">
    @foreach (var command in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-8">
                        <h3 style="margin-top: 3px">@command.CommandName</h3>
                        <p style="margin-top: 10px"><a data-toggle="collapse" data-parent="#accordion" href="@("#collapse" + command.Id)"class="btn btn-xs btn-default"><span class="glyphicon glyphicon-file"></span>@command.RelatedObjectName</a> <i class="glyphicon glyphicon-calendar"></i>@command.Date - <i class="glyphicon glyphicon-user"></i>@command.Author</p>
                    </div>
                    <div class="col-md-4">
                        <div class="btn-group btn-group-justified" style="margin-top: 10px;">
                            <a href="http://variosystems.pl/download/FakturaKosztowa.pdf" class="btn btn-lg btn-info">Otwórz</a>
                            <a data-toggle="collapse" data-parent="#accordion" href="@("#collapse" + command.Id)" class="btn btn-lg btn-info">Szczegóły</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="@("collapse" + command.Id)" class="panel-collapse collapse out">
                <div class="panel-body" style="margin: 0 auto;">
                    @Html.Action("Details", "Workflow", new { id = @command.RelatedObjectId })
                    <div class="btn-group btn-group-justified">
                        <a data-toggle="modal" data-target="#myModal" class="btn btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Odrzuć</a>
                        <a data-toggle="modal" data-target="#myModal" class="btn btn btn-info">Do poprawy</a>
                        <a data-toggle="modal" data-target="#myModal" class="btn btn btn-success">Akceptuj <span class="glyphicon glyphicon-ok"></span></a>
                    </div>
                </div>
            </div>
        </div>    
    }
</div>
