@model IEnumerable<MyTecBits_MVC5_Bootstrap3.Models.VarioObject>

@{
    Layout="";
}

<div class="panel-group" id="accordion">
@foreach (var varioObject in Model)
{
<div class="panel panel-default">
    <div class="panel-heading">
       <div class="row">
         <div class="col-md-10">
             <p style="margin-top:10px"> <a href="@("http://variosystems.pl/download/FakturaKosztowa" + varioObject.Id + ".pdf")" class="btn btn btn-default"><span class="glyphicon glyphicon-file"></span> @varioObject.ObjectName</a> 
            </div>
                  <div class="col-md-2">
            <div class="btn-group btn-group-justified" style="margin-top:10px;" >
                <a data-toggle="collapse" data-parent="#accordion" href="@("#collapse" + varioObject.Id)" class="btn btn btn-info">Szczegóły</a>
            </div>
         </div>
      </div>
    </div>   
    <div id="@("collapse" + varioObject.Id)" class="panel-collapse collapse out">
      <div class="panel-body" style ="margin:0 auto;">
                   @Html.Action("Details", "Workflow", new { id = @varioObject.Id })
     </div>
    </div> 
</div>    
    }
</div>